$(".alert").alert('close');
if(<%= @client.valid? %> == true){
  $.get('/clients.json?per_page=all', function(data){ 
    $("#clientes").empty();
    $('#clientes').append($('<option>'));

    $.each(data, function (i, val) {
      $('#clientes').append($('<option>',{
        value: val.id,
        text: val.nombre,
        selected: val.id == parseInt("<%= @client.id %>")
      }));
    });

    $('#new_client_modal').modal('toggle');
  });
} else {
  <% @client.errors.each do |i, v| %>
    $(".modal-body").prepend("<div class='alert alert-danger' role='alert'> <%= i  %>  <%= v  %> "+
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
        "<span aria-hidden='true'>&times;</span>" +"</button>"+ "</div>");
    console.log("<%= i %>")
    console.log("<%= v %>")
  <% end %>
}
