<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Razon social</th>
    <th>Reginmen</th>
    <th>Actividad comercial</th>
    <th>Dirección</th>
    <th>Ciudad</th>
    <th>Telefono</th>
    <th>Email</th>
    <th colspan="3"></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.nombre %></td>
      <td><%= client.razon_social %></td>
      <td><%= client.regimen %></td>
      <td><%= client.actividad_comercial %></td>
      <td><%= client.direccion %></td>
      <td><%= client.ciudad %></td>
      <td><%= client.telefono %></td>
      <td><%= client.email %></td>
      <td><%= link_to 'Edit', edit_client_path(client), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Destroy', client, method: :delete, data: {confirm: 'Estas Seguro?'}, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_client_path, class: 'btn btn-primary' %>
