<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Razón social:</strong>
  <%= @client.razon_social %>
</p>

<p>
  <strong>Regimen:</strong>
  <%= @client.regimen %>
</p>

<p>
  <strong>Actividad comercial:</strong>
  <%= @client.actividad_comercial %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @client.direccion %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @client.ciudad %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<%= link_to 'Editar', edit_client_path(@client), class: 'btn btn-primary' %> |
<%= link_to 'Atras', clients_path, class: 'btn btn-warning' %>
