<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Dir:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<%= link_to 'Editar', edit_client_path(@client), class: 'btn btn-primary' %> |
<%= link_to 'Atras', clients_path, class: 'btn btn-warning' %>
