<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :placa %>
    <%= form.text_field :placa, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :licencia %>
    <%= form.text_field :licencia, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :clase %>
    <%= form.text_field :clase, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :linea %>
    <%= form.text_field :linea, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :servicio %>
    <%= form.text_field :servicio, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :combustible %>
    <%= form.text_field :combustible, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :motor %>
    <%= form.text_field :motor, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :chasis %>
    <%= form.text_field :chasis, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :serie %>
    <%= form.text_field :serie, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :fecha_de_compra %>
    <%= form.date_field :fecha_de_compra, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :contrato %>
    <%= form.text_field :contrato, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :n_soat %>
    <%= form.text_field :n_soat, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :vencimiento_soat %>
    <%= form.date_field :vencimiento_soat, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :n_rtm %>
    <%= form.text_field :n_rtm, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :vencimiento_rtm %>
    <%= form.date_field :vencimiento_rtm, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :km_cambio_aceite %>
    <%= form.text_field :km_cambio_aceite, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :km_proximocambio %>
    <%= form.text_field :km_proximocambio, class: 'form-control' %>
  </div>
  <%= form.fields_for :pictures do |p| %>
    <div class="field">
      <%= p.hidden_field :image_cache, class: 'form-control' %>
      <% if p.object.image? %>
        <%= p.label :image, "Imagen guardada" %>
        <%= p.file_field :image, class: 'form-control' %>
        <%= image_tag p.object.image.thumb.url, alt: 'Image' %>
        <div>
          <%= label_tag :_destroy do %>
            Remover imagen
            <%= p.check_box :_destroy %>
          <% end %>
        </div>
      <% else %>
        <%= p.label :image, "Nueva imagen" %>
        <%= p.file_field :image, class: 'form-control' %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Actualizar', class: 'btn btn-primary' %>
  </div>
<% end %>
