<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :placa %>
    <%= form.text_field :placa, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :licencia %>
    <%= form.text_field :licencia, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Actualizar', class: 'btn btn-primary'%>
  </div>
<% end %>
