<!DOCTYPE html>
<html>
  <head>
    <title>Masgruas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application'%>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>
    <%= javascript_pack_tag 'application'%>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%= render '/components/navbar' %>
      <%= render '/components/menu' %>

      <div class="content-wrapper">

        <%= yield :breadcrumb %>

        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card card-primary">
                  <div class="card-body">
                    <%= render '/components/flash' %>
                    <%= yield %>
                  </div>
                  <br>
                </div>
             </div>
            </div>
          </div>
        </section>
      </div>

      <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
          <b>MasGruas</b>
        </div>
        <strong>Copyright &copy; 2020 <a href="http://softdreams.co">Softdreams.co</a>.</strong> All rights reserved. V1.10.2
      </footer>
    </div>
  </body>
</html>
