$(".alert").alert('close');
if (<%= @account.valid? %> == true) {
    var $clientes = $("#clientes");
    var $cuentas = $("#cuentas");

    $.getJSON('/clients/' + $clientes.val() + '.json', function (data) {
        $cuentas.empty();
        $cuentas.append($('<option>'));

        $.each(data.accounts, function (i, val) {
            $cuentas.append($('<option>', {
                value: val.id,
                text: val.name,
                selected: val.id == parseInt("<%= @account.id %>")
            }));
        });
        $('[id=campo]').each(function () {
            $(this).val('');
        });
        $('#new_account_modal').modal('toggle');
    });
} else {
    <% @account.errors.each do |i, v| %>
    $(".modal-body").prepend("<div class='alert alert-danger' role='alert'> <%= i  %>  <%= v  %> "+
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
        "<span aria-hidden='true'>&times;</span>" +"</button>"+ "</div>");
      console.log("<%= i %>")
      console.log("<%= v %>")
    <% end %>
}
